/**
 * Global
 */

body {
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: #eee;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

p {
  margin-bottom: 2em;
}

section.container {
  padding-bottom: 3em;
}

/**
 * Article body elements
 */
article {
  margin-top: 1em;
  margin-bottom: 2em;
}

/*
 * Main column and sidebar layout
 */
.blog-main {
  font-size: 18px;
  line-height: 1.8;
}

/*
 * Blog posts
 */
.blog-post-title {
  margin-bottom: 5px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Description
 */
dl {
    padding-bottom: 1em;
}

dd {
  margin-bottom: 1em;
}

/**
 * Body
 */
article ul li {
  list-style: none;
  color: #666;
  /*font-size: 1.2em;*/
  margin-bottom: 1.2em;
}

article ul li:before {
  content: "# ";
  color: #2f75a2;
  padding-right: 5px;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

article h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}

article h3,
article h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

article h1 a:hover,
article h2 a:hover,
article h3 a:hover,
article h4 a:hover {
  text-decoration: none;
  cursor: pointer;
}

article h2 a:before {
  content: "# ";
  color: #2f75a2;
  padding-right: 5px;
}

article h3 a:before,
article h4 a:before {
  content: "# ";
  color: #888888;
  padding-right: 5px;
}

article h3 a,
article h4 a {
  color: #888;
}

article blockquote {
  background: #2f75a2;
  padding: 18px 20px;
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #EEE;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}

article blockquote code {
  background: #EEE;
  color: #2f75a2;
  padding: 0 5px;
}

article blockquote a {
  color: #FFF;
  text-decoration: underline;
}

article blockquote a:hover {
  color: #0FF;
  text-decoration: underline;
}