article {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bannerlet {
  margin-bottom: 2em;
}

.bannerlet-launcher-img {
  margin-right: 2em;
}

/**
 * Override dropzone default
 */
.dropzone {
  border: 5px dotted #333;
  min-height: 230px;
  background-color: #555;
  color: #FFF;
}

.dropzone .dz-default.dz-message {
  background-image: none;
  color: #FFF;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 1.5/1),(min-device-pixel-ratio: 1.5),(min-resolution: 138dpi),(min-resolution: 1.5dppx) {
  .dropzone .dz-default.dz-message {
    background-image: none;
    color: #FFF;
  }
}

.dropzone .dz-default.dz-message span {
  display: block;
  color: #FFF;
}

/**
 * Table
 */
table {
  table-layout: fixed;
  word-wrap: break-word;
}

.table-responsive th a {
  color: #555;
  text-decoration: none;
}

.table-responsive td,
.table-responsive th,
.btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.table-responsive th a {
  color: #FFF;
}

.code-let {
  margin: 2em auto;
}

.code-let dl {
  margin : 1em auto;
}

.code-let dd {
  margin-bottom: 1em;
}