/*@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);*/

div.jumbo {
  background-color: #EEE;
  padding: 1em;
  margin-bottom: 2em;
}

.font11 {
  font-size: 1.1em;
}

.breathing {
  margin-top: 1em;
  margin-bottom: 1em;
}

.container h3, .container h4 {
  margin-bottom: 1em;
}

img.img-center {
  margin-left: auto;
  margin-right: auto;
}

span.left-indent {
  padding-left: 1em;
}

.text-bullet {
  color: #3071a9;
  /*font-family: 'Nanum Myeongjo', serif;*/
  font-weight: bold;
  font-size: 1.1em;
}

.text-title {
  color: #3071a9;
  /*font-family: 'Nanum Myeongjo', serif;*/
  font-weight: bold;
}

.text-lead {
  /*font-family: 'Nanum Myeongjo', serif;*/
  font-weight: bold;
  font-size: 1.2em;
}

.text-myeongjo {
  /*font-family: 'Nanum Myeongjo', serif;*/
}

.chart {
  padding: 2em;
}

.box-gift {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
  min-height: 100px;
}

.carousel {
  height: 300px;
  margin-bottom: 30px;
  color: #fff;
}

.carousel-inner .item {
  background: #000 url("/images/minipage/promobg.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.carousel .item {
  height: 300px;
}

.col-xs-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.featurette-heading {
  font-size: 2em;
}

.lead {
  font-size: 1.2em;
}

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

#res {
  font-family: monospace, serif;
  font-size: 1em;
  white-space: pre-wrap;
  border: 1px solid #999;
  page-break-inside: avoid;
  display: block;
  padding: 10px 50px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}