/**
 * Global
 */

body {
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: #eee;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

section.container {
  border: 2px solid #ddd;
  border-radius: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #fff;
  margin-bottom: 1em;
  padding-bottom: 2em;
}

.btn {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

/**
 * Article body elements
 */
article {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 1em;
}

/*.thumbnail .caption .text-muted a, .blog-post-meta a {*/
  /*margin-right: 1em;*/
/*}*/

/**
 * Comments elements
 */
.media {
  margin-bottom: 2em;
}

/**
 * Signin Form
 */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input,
.input-group {
  margin-bottom: 10px;
}

/**
 * Override dropzone default
 */
.dropzone {
  border: 5px dotted rgba(0, 0, 0, 0.03);
  min-height: 230px;
}

.dropzone .dz-default.dz-message {
  background-image: none;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 1.5/1),(min-device-pixel-ratio: 1.5),(min-resolution: 138dpi),(min-resolution: 1.5dppx) {
  .dropzone .dz-default.dz-message {
    background-image: none;
  }
}

.dropzone .dz-default.dz-message span {
  display: block;
}

/**
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset {
  padding: 15px;
  margin-top: 2em;
  /*background-color: #f5f5f5;*/
  /*border-radius: 4px;*/
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module li.list-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.sidebar-module li.list-heading {
  display: block;
  padding: 1.2em 1em 0.1em 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  color: #999;
}

.sidebar-module .recent-comments-item li {
  margin-bottom: 1em;
}

.sidebar-module li i, .sidebar-module button i {
  margin-right: 0.5em;
}

.sidebar-module .btn-group {
  margin-bottom: 1em;
}

/**
 * Pagination
 */
.pager {
  margin-bottom: 60px;
  text-align: left;
}

.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  /*border-radius: 30px;*/
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 60px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 1.6em;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/**
 * Table
 */
table {
  table-layout: fixed;
  word-wrap: break-word;
}

.table-responsive th a {
  color: #555;
  text-decoration: none;
}

.draft td,
.draft td a {
  color: #808080;
  /*text-decoration: none;*/
}

.table-responsive td,
.table-responsive th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

/**
 * List
 */
.list-group-item {
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
}

/**
 * Dashboard
 */
.jumbotron {
  margin-bottom: 3em;
}

.jumbotron-buttons,
.featurelet-buttons {
  margin-top: 2em;
}

.featurelet,
.voclet,
.featurelet-item,
.voclet-item {
  margin-bottom: 2em;
}

.voclet-feedback {
  margin-top: 2em;
}

.featurelet-image i {
  padding: 1em;
  border-radius: 50%;
  background-color: #fafafa;
  border: 1px solid #808080;
  vertical-align: middle;
}

.voclet-meta a img {
  margin-right: 2em;
}
