<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">API 개요</a></li>
    <li><a href="#2">Banner 데이터 API</a></li>
    <li><a href="#3">Banner 생</a></li>

</ul>

<h2 id="1"><a href="#1">API 개요</a></h2>

<p>Banner API는 AirPlug가 배포한 앱들의 연계 마케팅 (Cross Marketing)을 위한 목적으로 개발되었다. 가령, AirSocket&reg;에서 Banner API를 호출하여 Banner 목록을 내려 받고, 자기 자신을 제외한 패키지들의 Banner를 랜덤으로 보여주어 AirPlug 앱의 설치 또는 사용을 유도할 수 있다. 물론, 사용자 편의를 위해 '다시 보지 않기' 등의 기능을 제공하는 것은 필수 이다.</p>

<h2 id="2"><a href="#2">Banner 데이터 API</a></h2>

<p>Banner 목록을 요청한다.</p>

<h3 id="2-1"><a href="#2-1">API endpoint</a></h3>

<p><code>GET /banner/api</code></p>

<h3 id="2-2"><a href="#2-2">요청 파라미터</a></h3>

<dl>
    <dt>order</dt>
    <dd>정렬할 필드를 선택한다. 기본값은 Banner 리소스의 id 내림차순이다.</dd>
    <dt>limit</dt>
    <dd>한번에 가져올 Banner 리소스의 갯수를 지정한다. 기본값은 5개 이다.</dd>
 </dl>

<h3 id="2-3"><a href="#2-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /banner/api HTTP/1.1
Host: promote.airplug.com

{
    "total_count": 5,
    "total_page": 5,
    "current_page": 2,
    "last_page": 5,
    "limit": 1,
    "data": [
        {
            "id": 4,
            "package": "com.airplug.airplayer.agent",
            "title": "Streaming Player",
            "excerpt_ko": "비디오/오디오 스트리밍 시 끊김 없는 재생\r\n최적의 모바일 네트웍 자동 접속 및 전환",
            "excerpt_en": "Minimizes pause when video/audio streaming\r\nFinds &amp; connects to the best available network",
            "launcher_image_url": "//promote.airplug.com/banners/launcher_image_1403619440_sp_launcher512.png",
            "banner_image_url": null,
            "android_url": "market://details?id=com.airplug.airplayer.agent",
            "pc_url": "https://play.google.com/store/apps/details?id=com.airplug.airplayer.agent"
        }
    ]
}
</pre>

<h2 id="3"><a href="#3">Banner 생성</a></h2>

<p>Banner는 NagScreen 관리자 또는 앱 마케터가 생성할 수 있다.</p>

<p><img src="/images/apidoc/banner-example.png" class="img-responsive"/></p>