<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">API 개요</a></li>
    <li><a href="#2">EULA 전문 웹페이지</a></li>
    <li><a href="#3">EULA 데이터 API</a></li>
    <li><a href="#4">최근 수정일 API</a></li>
    <li><a href="#5">EULA 동의 여부 기록 API</a></li>
</ul>

<h2 id="1"><a href="#1">API 개요</a></h2>

<p>EULA 서비스는 앱 사용자에게 EULA 전문을 표시하고, 그 동의/부(不)동의 내역을 API 호출을 통해 기록하고 추적하기 위해 개발되었다. 앱 사용자에게 표시되는 EULA 전문은 <a href="/post">Nag Messages</a> 에서 <code>eula</code> 카테고리로 작성된 메시지 중 가장 최신본 이다.</p>

<h2 id="2"><a href="#2">EULA 전문 웹페이지</a></h2>

<p>쿼리 조건에 해당하는 가장 최신 EULA 웹 페이지를 요청한다.</p>

<h3 id="2-1"><a href="#2-1">API endpoint</a></h3>

<p><code>GET /eula</code></p>

<h3 id="2-2"><a href="#2-2">요청 파라미터</a></h3>

<p>쿼리 파라미터를 생략하면 Nag Messages 에서 eula 카테고리로 작성된 메시지 중 패키지/언어에 상관없이 가장 최신본이 되므로, 정확한 패키지(package), 언어(language) 파라미터를 정확히 설정하여 요청하도록 한다.</p>

<dl>
    <dt>package</dt>
    <dd>본 API를 호출하는 앱의 패키지 이름. 가용한 패키지는 <code><a href="/api/category">/api/package</a></code>에서 확인 가능하다.</dd>
    <dt>language</dt>
    <dd>표시할 EULA 컨텐트의 언어. 가용한 언어는 <code><a href="/api/language">/api/language</a></code>에서 확인 가능하다.</dd>
 </dl>

<h3 id="2-3"><a href="#2-3">응답</a></h3>

<p>웹 페이지가 리턴된다.</p>

<p>아래는 요청이 성공한 경우에 반환 받은 http 응답이다.</p>

<pre class="prettyprint" lang="html">
GET /eula/view HTTP/1.1
Host: promote.airplug.com

HTTP/1.1 200 OK
Last-modified: Tue, 10 Jun 2014 15:02:38 +0900 # 수정일
Set-Cookie: eula_version=11; expires=Thu, 01 Jan 1970 09:00:00 +0900; path=/ # EULA 버전
Set-Cookie: eula_language=en; expires=Thu, 01 Jan 1970 09:00:00 +0900; path=/ # EULA 언어
Content-Type: text/html; charset=UTF-8

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;...&lt;/head&gt;
&lt;body&gt;...&lt;/body&gt;
&lt;/html&gt;
</pre>

<blockquote>응답된 http 헤더의 EULA 버전, EULA 언어 등은 EULA 동의 여부 기록을 위한 API 호출의 파라미터로 사용된다.</blockquote>

<h2 id="3"><a href="#3">EULA 데이터 API</a></h2>

<p><a href="#2">EULA 전문 웹페이지</a>과 달리 앱에서 EULA 데이터를 JSON 형식으로 받아 네이티브 UI에 표시하고자 할 때 사용할 수 있다. </p>

<h3 id="3-1"><a href="#3-1">API endpoint</a></h3>

<p><code>GET /eula/api</code></p>

<h3 id="3-2"><a href="#3-2">요청 파라미터</a></h3>

<dl>
    <dt>package</dt>
    <dd></dd>
    <dt>language</dt>
    <dd></dd>
 </dl>

<h3 id="3-3"><a href="#3-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /eula/api?package=com.airplug.mao.agent&amp;language=ko HTTP/1.1
Host: promote.airplug.com

{
    "data": {
        "id": 3, # EULA 버전
        "category": "eula",
        "package": "com.airplug.mao.agent",
        "language": "ko", # EULA 언어
        "title": "AirSocket&reg; EULA",
        "content": "EULA 본문",
        "email": "aerosocket@gmail.com",
        "url": null,
        "created_at": "2014-06-05 10:33:41",
        "updated_at": "2014-06-05 10:33:41"
    }
}
</pre>

<h2 id="4"><a href="#4">최근 수정일 API</a></h2>

<p>쿼리 조건에 해당하는 EULA의 최근 수정일을 반환한다. 쿼리 조건에 해당하는 새로운 버전의 EULA 있는지 확인하기 위한 목적으로 사용할 수 있다.</p>

<h3 id="4-1"><a href="#4-1">API endpoint</a></h3>

<p><code>GET /eula/api/etag</code></p>

<h3 id="4-2"><a href="#4-2">요청 파라미터</a></h3>

<dl>
    <dt>package</dt>
    <dd></dd>
    <dt>language</dt>
    <dd></dd>
 </dl>

<h3 id="4-3"><a href="#4-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /eula/api/etag?package=com.airplug.mao.agent&amp;language=ko HTTP/1.1
Host: promote.airplug.com

{
    "data": {
        "timestring": "2014-06-05 10:33:41",
        "timestamp": 1401932021
    }
}
</pre>

<h2 id="5"><a href="#5">EULA 동의 여부 기록 API</a></h2>

<p>앱 사용자의 EULA 동의 여부를 메타데이터들과 함께 서버에 기록한다.</p>

<h3 id="5-1"><a href="#5-1">API endpoint</a></h3>

<p><code>POST /eula/api</code></p>

<h3 id="5-2"><a href="#5-2">요청 파라미터</a></h3>

<p>API 보안을 위한 인증과 토큰은 <a href="/api/1#3">NagScreen 소개 및 API 기본 - API 요청 기본</a> 절을 참조한다.</p>

<dl>
    <dt>androidID</dt>
    <dd>16byte 이하일 경우 서버에서 자동으로 앞에 부족한 만큼 0을 붙임 (left-zero-padding)</dd>
    <dt>package</dt>
    <dd>본 API를 호출하는 앱의 패키지 이름</dd>
    <dt>agent_version</dt>
    <dd>본 API를 호출하는 앱의 버전 이름</dd>
    <dt>eula_accept</dt>
    <dd>동의 여부. yes 또는 no.</dd>
    <dt>eula_version (optional)</dt>
    <dd>동의한 EULA 의 버전. 지정되지 않으면 서버에 있는 최신 EULA의 버전 값으로 자동 폴백됨.</dd>
    <dt>eula_language (optional)</dt>
    <dd>동의한 EULA 의 언어. 지정되지 않으면 ko로 자동 폴백됨.</dd>
    <dt>apppkg (optional)</dt>
    <dd>동의 다이얼로그를 호출한 SDK를 품고 있는 앱의 패키지 이름</dd>
</dl>

<h3 id="5-3"><a href="#5-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
POST /eula/api HTTP/1.1
Host: promote.airplug.com
Authorization: Basic Y29tLmFpcnBsdWcubWFvLmFnZW50OmNvbS5haXJwbHVnLm1hby5hZ2VudA==

_token=dYRfVAiNdKFADkcrjJlCnb8NsI5LhjF5ym5m2MY5&amp;androidID=d68d982e059a830d&amp;package=com.airplug.mao.agent&amp;agent_version=3.0.0&amp;eula_accept=yes&amp;eula_version=3&amp;eula_language=ko

{
    "data": {
        "id": 2,
        "eula_version": 3,
        "eula_language": "ko",
        "package": "com.airplug.mao.agent",
        "apppkg": null,
        "agent_version": "3.0.1",
        "androidID": "d68d982e059a830d",
        "eula_accept": "true"
    }
}
</pre>

<blockquote>동일 패키지에 동일 androidID에 단 한 개의 레코드만 허용한다. 즉, 기록하려는 단말, 패키지에 해당하는 기존 동의 내역이 존재한다면, 기존 동의 내역은 지금 요청하는 내역으로 업데이트된다.</blockquote>