<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">개요</a></li>
    <li><a href="#2">NagScreen 웹 콘솔</a></li>
    <li><a href="#3">API 요청 기본</a></li>
    <li><a href="#4">API 응답 기본</a></li>
    <li><a href="#5">API 테스트 도구</a></li>
</ul>

<h2 id="1"><a href="#1">개요</a></h2>

<p>NagScreen은 AirSocket등의 AirPlug 앱 사용자와 소통하기 위해 만든 Messaging Platform 이다. AirPlug 직원이면 누구든 "<a href="http://promote.airplug.com">NagScreen 웹 콘솔</a>"에 계정을 생성하고 로그인하여, 앱 사용자와 API를 이용하여 소통할 수 있다.</p>

<ul>
    <li><a href="/post">Nag Messages</a>에서 Message Publisher가 작성한 메시지는 앱에서 <a href="/api/2">API</a>를 통해서 구독하고 팝업, 공지사항, 도움말 등의 용도로 사용할 수 있다.</li>
    <li><a href="/voc">Voice of Customers</a>는 앱에서 사용자가 작성한 의견을 수집하는 <a href="/api/3">API</a>이며, NagScreen 웹 콘솔에서 VoC에 대한 Feedback을 작성하고, 작성된 Feedback은 사용자에게 이메일로 보낼 수 있다.</li>
    <li><a href="/push">Push Messages</a>는 앱(또는 3rd-party)에서 생성한 고유한 식별자를 패키지 이름과 함께 <a href="/api/4">API</a>를 이용하여 등록/삭제할 수 있으며, NagScreen 웹 콘솔에서는 특정 패키지에 등록된 사용자에게 푸시 방식의 메시지를 전달할 수 있다.</li>
    <li>기타 프로모션을 위한 <a href="/api/5">Play store link redirection</a>, Mini page, SNS 링크 유틸리티 등의 서비스도 NagScreen을 통해 제공한다.</li>
</ul>

<blockquote>"Nag" 는 한국 말로 "쪼르다"라는 뜻이다. Nag Message 또는 Nag Screen이란 사용자 앱 UI 화면에서 고유 동작을 위한 대화상자와는 별개로, 유료 버전으로의 전환, EULA 동의, ... 등등 사용자의 행동을 유도하기 위해 표시하는 팝업/전체화면 광고 등의 메시지를 의미한다.</blockquote>

<h2 id="2"><a href="#2">NagScreen 웹 콘솔</a></h2>

<p><a href="http://promote.airplug.com">http://promote.airplug.com</a></p>

<p>앱 마케터(Message Publisher)가 이 NagScreen 웹 콘솔을 이용해서 앱 사용자와 소통할 수 있다.</p>

<ul>
    <li><span class="label label-warning">주의</span> Nag Message를 작성할 때는 본 메시지를 구독할 목표 <a href="/api/category">카테고리(category)</a>, <a href="/api/package">패키지(package)</a>, <a href="/api/language">언어(language)</a>를 정확히 지정하여야 한다.</li>
    <li>Nag Message 작성을 완료한 후에는 저장하고, 앱 사용자에게 보여지도록 하려면 Publish 체크박스를 반드시 체크하여야 한다. Publish를 체크하기 전에는 Draft 상태로 저장되며, 앱 사용자는 해당 메시지를 볼 수 없다.</li>
    <li>Drag-and-drop 방식으로 Nag Message 본문의 커서 위치에 이미지를 추가할 수 있다. 다만 이때, 이미지 폭이 720pixel을 넘어가면 모바일 화면의 레이아웃이 망가질 수 있으므로, 에디터 메뉴의 Style에서 Responsive Image를 반드시 선택하도록 한다.</li>
    <li>작성된 Nag Message를 Popup으로 지정하려면, Popup 체크박스를 체크하여 저장한다. Popup은 앱에서 요청된 쿼리 조건에 해당 하는 Nag Message 중 최신 1건만 반환된다.</li>
</ul>

<blockquote><a href="/api/category">카테고리(category)</a>, <a href="/api/package">패키지(package)</a>, <a href="/api/language">언어(language)</a> 등의 기준 정보는 본 서비스를 통틀어서 메시지 Publisher 및 API 사용자에게 공통적으로 사용되는 중요한 항목이다. 항목 추가를 원하는 경우 앱 마케터 또는 개발자가 NagScreen 관리자에게 요청하도록 한다.</blockquote>

<h2 id="3"><a href="#3">API 요청 기본</a></h2>

<p>본 절에서는 NagScreen 서비스 전반에 걸쳐 사용되는 공통 API 호출 방법에 대해 설명한다.</p>

<h3 id="3-1"><a href="#3-1">호스트 (host)</a></h3>

<p><code>https://promote.airplug.com</code>으로 요청한다. 서버 정책에 따라 <code>POST|PUT|PATCH|DELETE</code> 등의 API 요청에 https를 사용하지 않으면 403 Forbidden 이 반환될 수 있다.</p>

<h3 id="3-2"><a href="#3-2">http 동사 (verb) 지원</a></h3>

<p>Browser에서 지원하지 않지만 http Spec/Best Practice를 따르기 위해서, <code>PUT</code>, <code>PATCH</code>, <code>DELETE</code> 등의 http 동사는 요청 파라미터를 이용하여 http 동사의 동작을 흉내낸다. 즉, <code>PUT</code> 요청을 하기 위해서는 <code>POST</code>로 요청을 하되, <code>_method=put</code> 파라미터를 같이 전송하면, API 서버는 <code>PUT</code> 요청으로 간주하고 적절한 동작을 취한다.</p>

<p>CRUD (Create, Read/Retrieve, Update, Delete)를 위한 기본 API는 다음 URI 규칙을 따른다.</p>

<dl>
    <dt>GET|HEAD /apiendpoint</dt>
    <dd>리소스 리스트 요청</dd>
    <dt>GET|HEAD /apiendpoint/{id}</dt>
    <dd>{id}로 지정한 단일 리소스 요청</dd>
    <dt>POST /apiendpoint</dt>
    <dd>새로운 리소스 생성 요청</dd>
    <dt>PUT|PATCH /apiendpoint/{id}</dt>
    <dd>{id}로 지정한 리소스를 파라미터를 통해 넘긴 값으로 업데이트 요청</dd>
    <dt>DELETE /apiendpoint/{id}</dt>
    <dd>{id}로 지정한 리소스 삭제 요청 (API에 따라 POST 동사로 삭제 요청을 하는 예외 경우는 있을 수 있음)</dd>
</dl>
<small class="text-muted"><code>note</code> {id} 는 정수값만 허용함.</small>

<h3 id="3-3"><a href="#3-3">API 사용자 인증 &amp; CSRF 토큰</a></h3>

<p>API 보호하기 위해서, http <code>GET/HEAD</code> 요청을 제외한 모든 API 호출은 http 헤더를 이용한 기본 인증과 적절한 토큰 파라미터를 제공해야 한다.</p>

<p>기본 인증은 <code>Authorization</code> 헤더를 사용하며, 패키지이름:패키지이름을 Base64 인코딩하고 <code>Basic</code> 문자열과 함께 제출한다. 아래 코드 예제 참조.</p>

<p>CSRF (Cross Site Request Forgery) 토큰은 <code>/api/token</code> API 호출로 얻을 수 있다. 얻은 <code>_token</code>은 <code>POST|PUT|PATCH|DELETE</code> 요청 본문 또는 폼 데이터로 다른 파라미터들과 함께 전송한다. <code>GET|HEAD</code> 요청시에는 토큰을 제시할 필요는 없다. <code>_token</code>은 정기적으로 또는 CSRF 공격이 의심될 때 수시로 바뀌므로 꼭 필요할 때마다 얻어서 사용하도록 한다.</p>

<h3 id="3-4"><a href="#3-4">코드 예제</a></h3>

<pre class="prettyprint" lang="js">
# 토큰 요청

GET /api/token HTTP/1.1
Host: promote.airplug.com

{
    "data": {
        "_token": "yv0oRVzuNMn44uv0Xr51Zjo9iM7nToK649FYQ3vF"
    }
}
</pre>

<pre class="prettyprint">
# Authorization 헤더 및 토큰의 사용

POST /apiendpoint HTTP/1.1
Host: promote.airplug.com
Authorization: Basic Y29tLmFpcnBsdWcubWFvLmFnZW50OmNvbS5haXJwbHVnLm1hby5hZ2VudA==

_token=yv0oRVzuNMn44uv0Xr51Zjo9iM7nToK649FYQ3vF&amp;_method=put&amp;param=value
</pre>

<h2 id="4"><a href="#4">API 응답 기본</a></h2>

<p>본 절에서는 NagScreen API 전반에 걸쳐 사용되는 공통 API 응답에 대해 설명한다.</p>

<h3 id="4-1"><a href="#4-1">http 상태 코드 &amp; API 응답</a></h3>

<p>API 요청에 대한 모든 응답은 JSON 형태로 http 상태 코드와 함께 제공된다.</p>

<dl>
    <dt>200 OK</dt>
    <dd>HEAD|GET|PUT|PATCH|DELETE 요청에 성공. DELETE 요청에 대해서는 boolean 응답을 제공하고, 나머지 요청에 대해서는 요청한 리소스를 반환함.</dd>
    <dt>201 Created</dt>
    <dd>POST 요청에 성공적으로 리소스가 생성됨. 생성된 리소스를 반환함.</dd>
    <dt>401 Unauthorized</dt>
    <dd>POST|PUT|PATCH|DELETE 요청에서 인증을 통과하지 못했거나, CSRF Token이 정확하지 않음.</dd>
    <dt>403 Forbidden</dt>
    <dd>https로 강제된 Api 요청에 http를 사용했을 경우.</dd>
    <dt>404 Not Found</dt>
    <dd>HEAD|GET|PUT|PATCH|DELETE http://host/apiendpoint/{id} 요청에서 {id} 파라미터를 통해 지정한 리소스가 존재하지 않음. 단일 리소스가 아니라 리스트를 요청했을 경우에도 해당 쿼리 조건에 해당하는 리스트가 존재하지 않을 경우.</dd>
    <dt>422 Unprocessable Entity</dt>
    <dd>파라미터를 통해 넘겨진 값들이 유효성 검사를 통과하지 못함. 오류가 발생한 필드와 이유를 반환함.</dd>
    <dt>500 Internal Error</dt>
    <dd>API 요청에 대해 서버에서 리소스를 CRUD 하는 과정에서 오류가 발생함.</dd>
</dl>

<h3 id="4-2"><a href="#4-2">코드 예제</a></h3>

<pre class="prettyprint" lang="js">
# Voc 리스트 요청에 대한 성공 응답

HTTP/1.1 200 OK
Content-Type: application/json
{
    "total_count": 12,
    "total_page": 12,
    "current_page": 1,
    "last_page": 12,
    "limit": 1,
    "data": [
        {
            "id": 1,
            "package": "com.airplug.videoplug",
            "title": "Quisquam dolorum ipsa inventore.",
            "content": "At illo veniam aut repellat maxime iusto culpa.",
            "email": "dbahringer@jacobi.com",
            "created_at": "2014-06-08 23:37:22",
            "updated_at": "2014-06-08 23:37:22"
        }
    ]
}


# Voc 생성 요청에 대한 성공 응답

HTTP/1.1 201 Created
Content-Type: application/json
{
    "data": {
        "id": 11,
        "package": "com.airplug.mao.agent",
        "title": "My title",
        "content": "Lorem ipsum dolor sit amet..",
        "email": "john@example.com",
        "created_at": "2014-06-09 18:30:34",
        "updated_at": "2014-06-09 18:30:34"
    }
}


# POST|PUT|PATCH|DELETE 요청에 대한 인증 실패 응답

HTTP/1.1 401 Unauthorized
Content-Type: application/json
{
    "error": {
        "code": 401,
        "message": "Token does not match"
    }
}


# https가 필요한 Api 요청을 http로 했을 경우 실패 응답

HTTP/1.1 403 Forbidden
Content-Type: application/json
{
    "error": {
        "code": 403,
        "message": "Forbidden. SSL request required"
    }
}


# 유효성 검사 실패 응답

HTTP/1.1 422 Unprocessable Entity
Content-Type: application/json
{
    "error": {
        "code": 422,
        "message": {
            "package_id": [
                "The package id field is required."
            ],
            "email": [
                "The email must be a valid email address."
            ]
        }
    }
}
</pre>

<h2 id="5"><a href="#5">API 테스트 도구</a></h2>

<p><a href="https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm">Chrome Postman을 사용할 것을 권장한다.</a></p>