<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">API 개요</a></li>
    <li><a href="#2">일일 요약 API</a></li>
    <li><a href="#3">앱별 설치 삭제 통계 API</a></li>
    <li><a href="#4">앱별 리뷰 목록 API</a></li>
    <li><a href="#5">데이터 수집 및 관리</a></li>
</ul>

<h2 id="1"><a href="#1">API 개요</a></h2>

<p>Google Play Summary는 매일 반복되는 Google Play 통계 업데이트 (a.k.a. 마켓 리뷰 리포트) 이메일을 쓰는 번거로움을 덜기 위해 개발되었으나, 동 응용프로그램 개발을 위해 정제된 데이터는 다른 목적으로 사용될 수 있을 것으로 생각되어 공개 데이터 API 를 개발하게 되었다.</p>

<h2 id="2"><a href="#2">일일 요약 API</a></h2>

<p>Google Play Daily Update 이메일에 사용된 요약 데이터를 받아 볼 수 있다.</p>

<h3 id="2-1"><a href="#2-1">API endpoint</a></h3>

<p><code>GET /googleplay/api</code></p>

<h3 id="2-2"><a href="#2-2">요청 파라미터</a></h3>

<p>없다.</p>

<h3 id="2-3"><a href="#2-3">응답</a></h3>

<p>API 요청에 대해 JSON 형식의 리소스를 반환한다. 에러 메시지등의 공통 응답은 <a href="/api/1#4">NagScreen 소개 및 API 기본 - API 응답 기본</a> 절을 참조한다.</p>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /googleplay/api HTTP/1.1
Host: promote.airplug.com

{
    "date": "2014-07-14",
    "data": {
        "com.airplug.abc.agent": {
            "total_user_installs": 99609,
            "total_user_uninstalls": 34855,
            "total_reviews": 22,
            "average_rating": 3.7727,
            "today": {
                "date": "2014-07-14",
                "daily_user_installs": 198,
                "daily_user_uninstalls": 139,
                "rank_kr": 96,
                "reviews": [
                    {
                        "date": "2014-07-14",
                        "reviewer": "Name",
                        "rating": 5,
                        "title": "Title",
                        "content": "Content",
                        "language": "한국어",
                        "version": null,
                        "device": null
                    }
                ]
            },
            "yesterday": {
                "package": "com.airplug.abc.agent",
                "date": "2014-07-13",
                "daily_user_installs": 241,
                "daily_user_uninstalls": 154,
                "rank_kr": 99,
                "reviews": []
            }
        }
    "related_reviews": {
        "올팟캐스트2.0": [
            {
                "date": "2014-07-14",
                "reviewer": "Rick",
                "rating": 5,
                "title": null,
                "content": "Good~~"
            }
        ]
    }
}
</pre>

<h2 id="3"><a href="#3">앱별 설치 삭제 통계 API</a></h2>

<p>일일 설치 사용자 수, 일일 삭제 사용자 수를 반환한다. 일일 설치/삭제 기기 수가 아님을 주의한다.</p>

<h3 id="3-1"><a href="#3-1">API endpoint</a></h3>

<p><code>GET /googleplay/api/stat</code> (단일 항목 요청 <code>GET /googleplay/api/stat/{id}</code>)</p>

<h3 id="3-2"><a href="#3-2">요청 파라미터</a></h3>

<dl> 
    <dt>package</dt>
    <dd>패키지 이름, 패키지 이름을 지정하지 않으면 모든 패키지에 대한 통계값이 반환된다.</dd>
    <dt>limit</dt>
    <dd>한번에 가져올 갯수. 기본 값은 30이며 30 이하의 숫자만 지정할 수 있다.</dd>
    <dt>order</dt>
    <dd>asc|desc 기본값은 날짜 역순이다. </dd>
    <dt>start_date</dt>
    <dd>Y-m-d. 지정한 날짜 이후의 통계값만으로 한정할 때 사용한다.</dd>
    <dt>page</dt>
    <dd>페이지 이동을 위한 파라미터. 기본값은 1</dd>
    <dt>callback</dt>
    <dd>JSONP 형식의 응답을 원할 경우 사용한다.</dd>
</dl>

<h3 id="3-3"><a href="#3-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET GET /googleplay/api/stat?package=com.airplug.abc.agent&start_date=2014-07-01 HTTP/1.1
Host: promote.airplug.com

{
    "total_count": 14,
    "total_page": 1,
    "current_page": 1,
    "last_page": 1,
    "limit": 30,
    "data": [
        {
            "package": "com.airplug.abc.agent",
            "date": "2014-07-14",
            "daily_user_installs": 198,
            "daily_user_uninstalls": 139,
            "rank_kr": 96
        },
        {
            ...
        },
        {
            "package": "com.airplug.abc.agent",
            "date": "2014-07-01",
            "daily_user_installs": 181,
            "daily_user_uninstalls": 131,
            "rank_kr": 104
        }
    ]
}
</pre>

<h2 id="4"><a href="#4">앱별 리뷰 목록 API</a></h2>

<p>앱에 대한 리뷰 목록을 반환한다.</p>

<h3 id="4-1"><a href="#4-1">API endpoint</a></h3>

<p><code>GET /googleplay/api/review</code> (단일 항목 요청 <code>GET /googleplay/api/review/{id}</code>)</p>

<h3 id="4-2"><a href="#4-2">요청 파라미터</a></h3>

<p><a href="#3-2">앱별 설치 삭제 통계 API의 요청 파라미터</a>와 동일하다.</p>

<h3 id="4-3"><a href="#4-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /googleplay/api/review HTTP/1.1
Host: promote.airplug.com
{
    "total_count": 13,
    "total_page": 4,
    "current_page": 1,
    "last_page": 4,
    "limit": 4,
    "data": [
        {
            "package": "com.airplug.mao.agent",
            "date": "2014-04-04",
            "reviewer": "김정임",
            "rating": 5,
            "title": "이런기능이!!",
            "content": " 아이디어 참신하네요. 다만 몇개의 앱에서만 동작하는게 아쉽군요 ",
            "language": "한국어",
            "version": null,
            "device": null
        },
        {
            ...
        },
        {
            "package": "com.airplug.mao.agent",
            "date": "2014-02-19",
            "reviewer": "천경신",
            "rating": 5,
            "title": "기사보고 찾아서 다운로드함",
            "content": " 기대되네요 ㅎ ",
            "language": "한국어",
            "version": null,
            "device": null
        }
    ]
}
</pre>

<h2 id="5"><a href="#5">데이터 수집 및 관리</a></h2>

<p>Google Play에서 API를 제공하지 않아, 통계값은 <a href="http://support.appannie.com/entries/23198482-Welcome-Index">AppAnnie Public API</a>에서 가져 온다. 개발 기간 중의 경험에 따르면 Google Play와 AppAnnie의 통계는 매일 아침 7시에 업데이트되는 것으로 추정된다. AppAnnie 통계를 가져와서 NagScreen의 데이터베이스 테이블에 저장하는 클래스는 <code>app/controller/FetchGooglePlayStatisticsController</code>에 구현되어 있으며, 이를 호출하기 위한 <code>app/commands/FetchGooglePlayDataCommand</code> 클래스가 한국시간으로 8시 50분에 동작하도록 서버의 crontab 작업 스케줄러에 걸려 있다.</p>

<p><code>FetchGooglePlayStatisticsController</code>의 Coverage는 AirPlug 앱에 한정되며, AirPlug에서 소유하지 않아 개발자 콘솔로 접근할 수 없는 외부 앱은 해당되지 않는다. <strong class="text-danger">또, AppAnnie Public API의 한계점은 일일 삭제 사용자 수를 가져올 수 없다는 것이다.</strong></p>

<p>상기의 한계점들을 극복하기 위해서는 기본의 마켓 리뷰 리포트와 같은 수작업이 필요하며, 이를 위한 UI 들은 <a href="/googleplay">NagScreen관리자 콘솔</a>에 준비되어 있다.</p>

