<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">API 개요</a></li>
    <li><a href="#2">메시지 리스트 API</a></li>
    <li><a href="#3">단일 메시지 요청 API</a></li>
    <li><a href="#4">팝업 API</a></li>
    <li><a href="#5">최근 수정일 API</a></li>
    <li><a href="#6">최근 작성 메시지 ID 리스트 API</a></li>
</ul>

<h2 id="1"><a href="#1">API 개요</a></h2>

<p><a href="http://promote.airplug.com/post">Nag Messages</a>는 AirPlug가 앱 사용자에게 일방향으로 전달하려는 메시지, 예를 들면, 공지사항, 도움말, FAQ, 팝업, EULA 등의 메시지를 제공하기 위한 목적으로 개발되었다. 권한을 가진 AirPlug 직원이 (앱 마케터) NagScreen 웹 콘솔을 통해서 새로운 메시지를 작성할 수 있으며, 앱에서는 적절한 쿼리 파라미터를 포함한 API 호출을 통해서 데이터를 구독하고, 적절한 형태로 표현할 수 있다.</p>

<h2 id="2"><a href="#2">메시지 리스트 API</a></h2>

<p>메시지 리스트를 요청하고 반환받는다.</p>

<h3 id="2-1"><a href="#2-1">API endpoint</a></h3>

<p><code>GET /post/api</code></p>

<h3 id="2-2"><a href="#2-2">요청 파라미터</a></h3>

<p>쿼리 파라미터를 생략하면 모든 Nag Messages가 반환되므로, 앱에서 구독하고자 하는 Nag Message만을 받기 위해서는 정확한 파라미터 값을 전달해야 한다.</p>

<dl>
    <dt>category</dt>
    <dd>이 문서를 작성하는 시점에 가용한 카테고리는 notice, eula, faq, help 이다. <code><a href="/api/category">/api/category</a></code>에서 확인 가능하다.</dd>
    <dt>package</dt>
    <dd>이 문서를 작성하는 시점에 가용한 패키지는 com.airplug.abc.agent, com.airplug.mao.agent, com.airplug.sb.agent, com.airplug.videoplug 이다. <code><a href="/api/category">/api/package</a></code>에서 확인 가능하다.</dd>
    <dt>language</dt>
    <dd>이 문서를 작성하는 시점에 가용한 언어는 en, ko 이다. <code><a href="/api/language">/api/language</a></code>에서 확인 가능하다.</dd>
    <dt>limit (optional)</dt>
    <dd>한번에 반환 받을 리스트의 갯수를 지정한다. 기본 값은 10개이며, 10 이하의 숫자를 지정할 수 있다.</dd>
    <dt>order (optional)</dt>
    <dd>기본 정렬은 메시지 작성일에 대해 desc(내림차순) 이다. 오름차순을 원하면 asc 값을 지정한다.</dd>
    <dt>callback (optional)</dt>
    <dd>JSONP 응답을 원할 경우, 콜백 함수의 이름을 붙여서 보낸다.</dd>
    <dt>page</dt>
    <dd>기본 값은 1이며, 페이지를 이동할 때 사용한다.</dd>
 </dl>

<h3 id="2-3"><a href="#2-3">응답</a></h3>

<p>API 요청에 대해 JSON 형식의 리소스를 반환한다. 에러 메시지등의 공통 응답은 <a href="/api/1#4">NagScreen 소개 및 API 기본 - API 응답 기본</a> 절을 참조한다.</p>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /post/api?category=notice&amp;package=com.airplug.mao.agent&amp;language=ko HTTP/1.1
Host: promote.airplug.com

{
    "total_count": 1,
    "total_page": 1,
    "current_page": 1,
    "last_page": 1,
    "limit": 10,
    "data": [
        {
            "id": 1,
            "category": "notice",
            "package": "com.airplug.mao.agent",
            "language": "ko",
            "title": "AirSocket&reg; 사용을 환영합니다.",
            "content": "본문 내용",
            "email": "aerosocket@gmail.com",
            "url": "http://promote.airplug.com/post/1/view",
            "created_at": "2014-06-05 10:31:40",
            "updated_at": "2014-06-05 10:31:40"
        }
    ]
}
</pre>

<h2 id="3"><a href="#3">단일 메시지 요청 API</a></h2>

<p>단일 Nag Message 데이터를 반환한다.</p>

<h3 id="3-1"><a href="#3-1">API endpoint</a></h3>

<p><code>GET /post/api/{id}</code></p>

<h3 id="3-2"><a href="#3-2">요청 파라미터</a></h3>

<dl>
    <dt>callback (optional)</dt>
    <dd></dd>
</dl>

<h3 id="3-3"><a href="#3-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET GET /post/api/11 HTTP/1.1
Host: promote.airplug.com

{
    "data": {
        "id": 11,
        "category": "eula",
        "package": "com.airplug.mao.agent",
        "language": "en",
        "title": "AirSocket® EULA",
        "content": "본문 내용",
        "email": "aerosocket@gmail.com",
        "url": null,
        "created_at": "2014-06-10 15:05:20",
        "updated_at": "2014-06-10 15:11:24"
    }
}
</pre>

<h2 id="4"><a href="#4">팝업 API</a></h2>

<p>API 요청 쿼리 조건에 맞는 메시지들 중, 팝업으로 지정된 메시지 중 최신 항목 하나를 반환한다.</p>

<h3 id="4-1"><a href="#4-1">API endpoint</a></h3>

<p><code>GET /post/api/popup</code></p>

<h3 id="4-2"><a href="#4-2">요청 파라미터</a></h3>

<p>쿼리 파라미터를 생략하면 카테고리, 패키지, 언어등을 무시하고 팝업으로 지정된 최신 메시지 1건이 리턴되므로 꼭 정확한 파라미터 값을 제시하도록 한다.</p>

<dl>
    <dt>category</dt>
    <dd></dd>  
    <dt>package</dt>
    <dd></dd>
    <dt>language</dt>
    <dd></dd>
    <dt>interval (optional)</dt>
    <dd>기본 값은 30일이다.</dd>
    <dt>callback (optional)</dt>
    <dd></dd>
</dl>

<h3 id="4-3"><a href="#4-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /post/api/popup?category=notice&amp;package=com.airplug.videoplug&amp;language=ko HTTP/1.1
Host: promote.airplug.com

{
    "data": {
        "id": 9,
        "category": "help",
        "package": "com.airplug.videoplug",
        "language": "ko",
        "title": "요금 폭탄 방지를 위한 안전장치들",
        "content": "본문 내용",
        "email": "aerosocket@gmail.com",
        "url": "http://promote.airplug.com/post/9/view",
        "created_at": "2014-06-05 10:39:31",
        "updated_at": "2014-06-10 18:23:15"
    }
}
</pre>

<h2 id="5"><a href="#5">최근 수정일 API</a></h2>

<p>API 요청 쿼리 조건에 해당하는 메시지들의 수정일 중 가장 큰 값을 반환한다.</p>

<h3 id="5-1"><a href="#5-1">API endpoint</a></h3>

<p><code>GET /post/api/etag</code></p>

<h3 id="5-2"><a href="#5-2">요청 파라미터</a></h3>

<p>쿼리 파라미터를 생략하면 카테고리, 패키지, 언어등을 무시하고 모든 메시지를 통틀어 최근 수정일을 리턴하므로 꼭 정확한 파라미터 값을 제시하도록 한다.</p>

<dl>
    <dt>category</dt>
    <dd></dd>  
    <dt>package</dt>
    <dd></dd>
    <dt>language</dt>
    <dd></dd>
    <dt>callback (optional)</dt>
    <dd></dd>
</dl>

<h3 id="5-3"><a href="#5-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /post/api/etag?category=notice&amp;package=com.airplug.videoplug&amp;language=ko HTTP/1.1
Host: promote.airplug.com

{
    "data": {
        "timestring": "2014-06-05 10:40:03",
        "timestamp": 1401932403
    }
}
</pre>

<h2 id="6"><a href="#6">최근 작성 메시지 ID 리스트 API</a></h2>

<p>API 요청 쿼리 조건에 해당하는 메시지들의 중 최근 30일 이내에 작성된 메시지 ID의 리스트를 반환한다.</p>

<h3 id="6-1"><a href="#6-1">API endpoint</a></h3>

<p><code>GET /post/api/latest</code></p>

<h3 id="6-2"><a href="#6-2">요청 파라미터</a></h3>

<p>쿼리 파라미터를 생략하면 카테고리, 패키지, 언어등을 무시하고 모든 메시지를 통틀어 최근 30일 이내에 작성된 메시지들의 ID 리스트를 리턴하므로 꼭 정확한 파라미터 값을 제시하도록 한다.</p>

<dl>
    <dt>category</dt>
    <dd></dd>  
    <dt>package</dt>
    <dd></dd>
    <dt>language</dt>
    <dd></dd>
    <dt>callback (optional)</dt>
    <dd></dd>
    <dt>interval (optional)</dt>
    <dd>기본 값은 30일이다.</dd>
</dl>

<h3 id="6-3"><a href="#6-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /post/api/latest?category=notice&amp;package=com.airplug.videoplug&amp;language=ko HTTP/1.1
Host: promote.airplug.com

{
    "data": [
        "10",
        "9",
        "8",
        "7",
        "6",
        "5",
        "4"
    ]
}
</pre>