<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">NagScreen 개발 개요</a></li>
    <li><a href="#2">설치</a></li>
    <li><a href="#3">코드 구조</a></li>
    <li><a href="#4">유지 보수 및 정책</a></li>
    <li><a href="#5">관리</a></li>
</ul>


<h2 id="1"><a href="#1">NagScreen 개발 개요</a></h2>
<p>NagScreen은 앱 사용자와 소통하기 위한 프론트엔드, 백엔드의 역할을 할 목적으로 개발되었다.</p>

<p>NagScreen 프로젝트는 AirSocket UI Renewal 프로젝트와 함께 시작되었으며, AirSocket 프로젝트의 개발 목표 중의 하나인 편의기능 향상 및 그간 뿔뿔이 흩어져 있던 앱 프로모션용 서버 어플리케이션들을 한 곳에 모았다는 데 의의가 있다고 개발자로서 자평한다.</p>

<p>NagScreen은 Amazon 서버에서 구동되며, <a href="http://php.net">php 언어</a>, <a href="http://laravel.com">Laravel 프레임워크</a>를 근간으로 여러 Dependency들을 포함하여 개발되었다.</p>


<h2 id="2"><a href="#2">설치</a></h2>

<h3 id="2-1"><a href="#2-1">서버 준비</a></h3>

<p>이 프로젝트는 php5.4, composer, mysql5.6, sendmail, memcached, curl, gd, mcrypt, readline 등의 의존성을 가지고 있다.</p>

<pre class="prettyprint">
$> sudo apt-get install -y curl php5 apache2 memcached sendmail libapache2-mod-php5 php5-curl php5-gd php5-mcrypt mysql-server-5.5 php5-mysql php5-readline php5-memcache

$> sudo curl -sS https://getcomposer.org/installer | php

$> sudo sudo mv composer.phar /usr/local/bin/composer
</pre>

<p>코드를 클론하고 웹서버를 설정한다. 프로젝트의 최상위 디렉토리는 <code>AllowOverride All</code> 지시자가 필수이며, Document Root 는 프로젝트의 <code>public</code> 디렉토리이다. </p>

<pre class="prettyprint">
$> cd /path/to/

$> git clone http://src.airplug.co.kr/git/nagscreen-server
</pre>

<p>코드를 클론하고, 웹 서버 설정이 완료되면, 남은 일은 어플리케이션 설정!</p>

<p>모든 의존적 패키지가 준비되었다면, <code>app/start.php</code>에서 앱 실행 환경도 설정해 준다 (콘솔에서 <code>hostname</code> 명령으로 호스트 이름을 알 수 있다.). <code>app/config/production/database.php</code>에서 데이터베이스 접속 정보도 설정해 준다.</p>

<pre class="prettyprint">
# 앱 실행 환경
$env = $app->detectEnvironment(array(
    'local'      => array('Juwon-ui-MacBook-Air.local', 'Juwon-ui-iMac.local'),
    'staging'    => array('precise32'),
    'production' => array('promote'),
));

# 데이터베이스 설정
return [
    'connections' => [
        'mysql' => [
            'driver'    => 'mysql',
            'host'      => 'localhost',
            'database'  => '수정',
            'username'  => '수정',
            'password'  => '수정',
            'charset'   => 'utf8',
            'collation' => 'utf8_unicode_ci',
            'prefix'    => '',
        ]
    ]
];
</pre>

<pre class="prettyprint">
$> cd /path/to/

$> chmod -R 777 app /storage

$> composer install # takes long time

$> php artisan migrate # database provisioning
</pre>

<p> All set! Ready to go!</p>


<h2 id="3"><a href="#3">코드 구조</a></h2>

<p>개발자가 계속 유지 보수를 하란 법은 없고, 회사가 존속하고 연동된 앱이 계속 서비스되고, 그래서 이 서비스가 죽지 않는다면 누군가 맡아야 하기에.. 처음 만들때 가졌던 의도와 실제 부딪히며 해결해 갔던 모든 이력을 쓰면 좋겠지만, 그건 신만이 할 수 있는 일. 일단 간략히 정리하고, 보충해 나가기로 한다.</p>

<p>이 문서를 읽는 개발자는 php와 Laravel 기본을 알고 있다고 고려한다. 각 서비스는 모두 MVC 구조를 따른다. 가령 Nag Messages 서비스는 Post란 '모델'을 가지고 있고, 백엔드 웹 콘솔을 위해 PostController, 안드로이드 앱과 API로 통신하기 위해 PostApiController 등의 '컨트롤러', 그리고 <code>app/views/post</code> 아래에 CRUD (Create, Retrieve or Read, Update, Delete)를 위한 '뷰'를 가지고 있다.</p>

<pre class="prettyprint linenums">
.
|-- app
|   |-- airplug
|   |   |-- helpers.php
|   |   |-- Exceptions # Custom exceptions
|   |   |   |-- ForbiddenException.php # 403, http로 요청했을 경우
|   |   |   |-- ModelNotFoundException.php # 404, 모델이 없을 경우
|   |   |   |-- ResourceExpiredException.php # 403, 모델의 유효기간이 만료되었을 경우 (FileBox의 One-time Url이 만료되었을 경우)
|   |   |   |-- UnauthorizedException.php # 401, 인증에 실패 했을 경우
|   |   |-- helpers.php # 서비스 전반에 걸친 헬퍼 함수들
|   |   |-- Mailers # 이메일 전송
|   |   |   |-- Mailer.php # 이메일 전송 (이메일 전송 Trigger는 Controller -> events.php -> Mailer.php 순으로 진행됨)
|   |   |-- Push
|   |   |   |-- GcmAPI.php # 구글 푸시 전송 서버와 통신하기 위한 모듈
|   |   |   |-- GcmFacade.php
|   |   |   |-- GcmServiceProvider.php
|   |   |-- Tracker
|   |   |   |-- GoogleTracker.php # Google Analytic-trackPageView, trackEvent, trackSocial
|   |   |   |-- TrackerFacace.php
|   |   |   |-- TrackerServiceProvider.php
|   |   |-- Transformers # API 요청에 대해 JSON 응답을 제공하기 위해 데이터를 조작하는 모듈
|   |       |-- BannerTransformer.php
|   |       |-- EulaUserTransformer.php
|   |       |-- GooglePlayReviewTransformer.php
|   |       |-- GooglePlayStatTransformer.php
|   |       |-- PostTransformer.php
|   |       |-- PushUserTransformer.php
|   |       |-- Transformer.php # 추상 클래스
|   |       |-- VocTransformer.php
|   |-- commands # artisan commands
|   |   |-- ClearOnetimeFileboxUrlCommand.php # 정책에서 정한 기간(2일)이 지난 일회용 업로드/다운로드 URL을 Cron Job으로 지우기 위한 코맨트 (<code>php artisan nagscreen:clear-onetime-filebox-url</code>)
|   |   |-- FetchGooglePlayDataCommand.php # Google Play 통계를 가져오기 위한 코맨드 (<code>php artisan nagscreen:fetch-google-play-data</code>)
|   |-- config
|   |   |-- app.php # 호스트 이름 설정 필요
|   |   |-- auth.php # 인증 드라이버 설정 필요 (현재 설정 Eloquent = Laravel의 ActiveRecord 구현)
|   |   |-- cache.php # 캐시 드라이버 설정 필요 (현재 설정 Memcache)
|   |   |-- compile.php
|   |   |-- database.php # 데이터베이스 설정 필요 (현재 설정 mySql)
|   |   |-- mail.php # 메일 드라이버 및 인증 정보 설정 필요 (현재 설정 gmail SMTP)
|   |   |-- production # 상용 환경
|   |   |   |-- app.php
|   |   |   |-- database.php # 상용 환경 전용 정보 Override
|   |   |   |-- queue.php # 메일 전송을 위해 Iron MQ(iron.io) 서비스를 사용하고 있음.
|   |   |   |-- setting.php # Custom Setting 중 상용 환경에서 Override 할 값들을 설정
|   |   |-- queue.php # Worker
|   |   |-- remote.php # 개발환경에서 상용환경 접속을 위한 설정
|   |   |-- session.php # 세션 설정 (현재 설정 File)
|   |   |-- setting.php # Custom Setting
|   |   |-- testing
|   |   |   |-- database.php # testing 환경에서는 in memory sqlite 사용
|   |   |-- view.php # 페이징을 포함한 뷰 전반에 걸친 설정
|   |-- controllers
|   |   |-- ApiController.php # API 요청/응답을 모두 관장하는 부모 클래스 (ex. 200, 201, 401, 403, 404, 500... 관련 응답)
|   |   |-- ApidocController.php # API Document 컨트롤러
|   |   |-- AttachmentController.php # Nag Message (=Post)의 첨부 이미지 컨트롤러
|   |   |-- BannerApiController.php # Banner API 요청에 응답하는 컨트롤러
|   |   |-- BannerController.php # Banner 생성/수정/삭제를 담당하 컨트롤러
|   |   |-- BaseController.php # 백엔드쪽 웹 콘솔의 요청/응답을 관장하는 부모 클래스
|   |   |-- CategoryController.php # 관리자 전용. 카테고리 생성, 삭제 등등
|   |   |-- CommentController.php # Nag Message (=Post)에 대한 의견의 생성을 담당하는 클래스
|   |   |-- EulaController.php # EULA 전문 요청에 대해 응답하는 클래스
|   |   |-- EulaUserApiController.php # 우리 앱 사용자의 EULA 동의 여부를 기록하는데 관련된 서비를 담당하는 클래스
|   |   |-- FeedbackController.php # 앱 사용자의 VoC에 대해 앱 마케터(=회사)의 입장을 밝히는 것과 관련된 서비스를 하는 클래스
|   |   |-- FetchGooglePlayStatisticsController.php # Google Play 통계를 와서 데이터베이스에 저장하는 서비스를 담당하는 클래스
|   |   |-- FileBoxController.php # FileBox 서비스를 담당하는 클래스
|   |   |-- GooglePlayApiController.php # Google Play 설치/삭제, 리뷰 등의 데이터 API 요청에 응답하는 클래스
|   |   |-- GooglePlaySummaryController.php # Google Play Daily Summary를 발송하기 위한 관리자 콘솔
|   |   |-- HistoryController.php # Nag Message, Push Message, VoC 등 백엔드 웹 콘솔에서 발생하는 모든 일의 이력을 추적하는 클래스
|   |   |-- HomeCo는ntroller.php # 미니페이지, 대시보드
|   |   |-- HomeCo는ntroller.php # 미니페이지, 대시보드
|   |   |-- PackageController.php # 관리자 전용. 패키지  생성, 삭제 등등
|   |   |-- OnetimeFileboxUrlController.php # 일회용 파일 업로드/다운로드 URL의 생성, 삭제, 수정등을 담당하는 컨트롤러
|   |   |-- PostController.php # Nag Messages 와 관련된 CRUD를 담당하는 클래스
|   |   |-- PushMessageController.php # Push Message 와 관련돈 CRUD를 담당하는 클래스
|   |   |-- PushUserApiController.php # API 통신을 통해 Push 수신 사용자를 생성 삭제하는 컨트롤러
|   |   |-- UserController.php # NagScreen 백엔트 웹 콘솔/API 호출시 사용자 인증을 담당하는 컨트롤러
|   |   |-- UtilityController.php # Utility API 컨트롤러
|   |   |-- VocApiController.php # VoC 와 관련된 CRUD를 담당하는 클래스
|   |   |-- VocController.php # VoCApiController를 통해 유지되는 VoC 레코드를 열람하기 위한 컨트롤
|   |-- database
|   |   |-- migrations # 서비스에 필요한 테이블을 자동 생성하기(<code>php artisan migrate</code>) 위한 클래스들
|   |   |-- seeds # 개발환경에서 테이블에 테스트 데이터를 심기 위한 클래스들. 즉, 무시...(<code>php artisan db:seed</code>)
|   |-- filters.php # 요청/응답에 대한 Before Request/After Response 동작을 담당하는 클래스
|   |-- lang # 현재 사용하지 않으나, 다국어 지원이 필요할 경우 사용 예정
|   |-- models # 데이터 모델
|   |   |-- AirSocketPoweredApp.php # 에어소켓 연동앱 목록
|   |   |-- AirSocketPoweredAppReview.php # 에어소켓 연동앱들의 리뷰 목록
|   |   |-- Apidoc.php # API Document
|   |   |-- Attachment.php # Nag Messages (Post 모델)을 위한 이미지
|   |   |-- Banner.php
|   |   |-- Category.php
|   |   |-- Comment.php # Nag Messages에 대한 의견
|   |   |-- EulaUser.php
|   |   |-- Feedback.php # VoC 에 대한 피드백
|   |   |-- FileBox.php # FileBox 모델
|   |   |-- GooglePlayApp.php 
|   |   |-- GooglePlayReview.php 
|   |   |-- GooglePlayStat.php 
|   |   |-- History.php # 서비스 전반에 걸친 CRUD 로그 데이터를 관장하는 모델
|   |   |-- OnetimeFileboxUrl.php
|   |   |-- Package.php
|   |   |-- Post.php # Nag Messages
|   |   |-- PushMessage.php # 단말로 전송하는 푸시 메시지의 이력을 보관하는 데이터 모델
|   |   |-- PushUser.php # 푸시 수신자 
|   |   |-- User.php # AirPlug 직원/API 사용자
|   |   |-- Voc.php # Voice of Customers 데이터
|   |-- routes.php # 서비스 전반에 걸친 라우팅
|   |-- start
|   |   |-- artisan.php
|   |   |-- events.php # 이벤트 Observer. 가령, NagScreen은 모든 요청에 대해 모델에 대한 쿼리를 60 분 동안 캐싱을 하는데, 모델이 무엇인가 변경이 생기면 캐시를 플러시할 때 사용. 또는, 새로운 Nag Message 가 등록되었을 때 이벤트를 Fire하고 본 관찰자가 이메일을 보내는 등의 행동을 백그라운드에서 수행하게 됨.
|   |   |-- global.php
|   |   |-- local.php
|   |-- storage # 뷰 캐시, 오류 로그 등
|   |-- tests # API 관련 자동 테스트 코드들 (현재는 VoC API 테스트 코드만 있음)
|   |   |-- helpers # 테스트를 위한 SQLite 데이터 모델을 생성하는 등 테스트 환경을 준비하는 모듈
|   |   |   |-- ApiTester.php
|   |   |   |-- Factory.php
|   |   |-- TestCase.php
|   |   |-- VocApiTest.php
|   |-- views # 뷰
|       |-- apidoc # API 문서
|       |   |-- create.blade.php # 생성 폼
|       |   |-- edit.blade.php # 수정 폼
|       |   |-- index.blade.php # 리스트 폼
|       |   |-- master.blade.php # API 문서 전반에 걸친 마스터 레이아웃
|       |   |-- navigation.blade.php # API 문서만을 위한 네비게이션 영역의 뷰
|       |   |-- show.blade.php
|       |   |-- sidebar.blade.php # 마스터 레이아웃에 포함되는 좌/우 쪽의 컨텐츠 담당
|       |-- banner # Banner 목록, 생성, 업데이트, 일회용 파일 업/다운 URL 생성 관련 뷰
|       |   |-- index.blade.php # 생성 폼
|       |-- category
|       |   |-- create.blade.php
|       |   |-- index.blade.php
|       |-- comment
|       |   |-- index.blade.php
|       |-- emails
|       |   |-- auth
|       |   |   |-- activate.blade.php # 계정 활성화 메일 뷰
|       |   |   |-- reminder.blade.php # 비밀번호 초기화 메일 뷰
|       |   |-- feedback.blade.php # VoC에 대한 피드백 전송 메일 뷰
|       |   |-- filebox.blade.php # 생성된 One-time FileBox Upload Url에 소비되었고, 파일이 업로드 되었다는 것을 Url 생성자에게 알리기 위한 메일 뷰
|       |   |-- notify_google_play_update.blade.php # Google Play Daily Update 메일 뷰
|       |   |-- post.blade.php # 신규 메시지 생성을 관리자에게 알리기 위한 메일 뷰
|       |   |-- template.php # 메일 기본 템플릿
|       |-- eula
|       |   |-- view.blade.php
|       |-- feedback
|       |   |-- index.blade.php
|       |-- history
|       |   |-- index.blade.php
|       |-- googleplay # Google Play Summary 관리자 콘솔용 뷰
|       |   |-- index.blade.php
|       |   |-- notify.blade.php
|       |-- home # 미니페이지와 홈페이지
|       |   |-- abc.blade.php
|       |   |-- airsocket.blade.php
|       |   |-- airsocketforhoppin.blade.php
|       |   |-- dashboard.blade.php # 홈페이지 뷰
|       |   |-- videoplug.blade.php
|       |-- layouts # 마스터 레이아웃들 (다른 뷰들이 이 마스터뷰를 상속함)
|       |   |-- flash.blade.php # 플래시 메시지
|       |   |-- mail.blade.php # 이메일
|       |   |-- master.blade.php # 웹 콘솔 마스터
|       |   |-- minipage.blade.php # 마케팅용 미니페이지 마스터
|       |   |-- mobile.blade.php # EULA등의 모바일 뷰를 위한 마스터
|       |   |-- navigation.blade.php # 웹 콘솔 네비게이션 바
|       |   |-- navmenu.blade.php # 웹 콘솔 네비게이션/사이드 바에 포함될 메뉴 아이템
|       |   |-- notice.blade.php # 404, 503 페이지등을 위한 마스터 레이아웃 
|       |   |-- sidebar.blade.php # 웹 콘솔 사이드 바
|       |-- package
|       |   |-- create.blade.php
|       |   |-- index.blade.php
|       |-- pagination
|       |   |-- simple.blade.php
|       |   |-- slider.blade.php
|       |-- post
|       |   |-- create.blade.php
|       |   |-- edit.blade.php
|       |   |-- index.blade.php
|       |   |-- show.blade.php
|       |   |-- view.blade.php
|       |-- push
|       |   |-- create.blade.php
|       |   |-- index.blade.php
|       |   |-- show.blade.php
|       |-- user
|       |   |-- profile.blade.php
|       |   |-- remind.blade.php
|       |   |-- reset.blade.php
|       |   |-- signin.blade.php
|       |   |-- signup.blade.php
|       |-- voc
|           |-- index.blade.php
|           |-- show.blade.php
|-- artisan
|-- bootstrap
|   |-- autoload.php
|   |-- paths.php
|   |-- start.php # 서비스 실행 환경 설정 (testing, local, stating, production)
|-- composer.json
|-- composer.lock
|-- phpunit.xml
|-- public # 서비스를 위한 리소스들
|   |-- attachments # Nag Messages에 포함된 이미지가 저장되는 위치
|   |-- ckeditor # 서비스 전반에 걸친 WYSIWYG 에디터를 위한 라이브러리
|   |-- css # 디자인/스타일
|   |   |-- apidocstyle.css
|   |   |-- mobilestyle.css # API를 통해 전달되는 URL을 통해 접근하게 되는 웹 페이지 뷰를 위한 디자인
|   |   |-- mycarousel.css # 미니페이지 상단의 캐러젤 UI를 위한 커스텀 디자인
|   |   |-- myminipage.css # 미니페이지 전반에 걸친 디자인
|   |   |-- mystyle.css # 서비스 전반에 걸친 마스터 커스텀 디자인
|   |   |-- vendor # 외부 디자인 라이브러리
|   |       |-- bootstrap
|   |       |-- dropzone
|   |       |-- font-awesome
|   |       |-- fonts
|   |       |-- housekeeping
|   |       |   |-- fonts.css
|   |       |   |-- reset.css
|   |       |   |-- style.css
|   |       |-- pnotify
|   |-- favicon.ico
|   |-- images # 이미지 리소스들
|   |   |-- minipage
|   |       |-- abc
|   |       |-- airsocket
|   |       |-- videoplug
|   |-- index.php
|   |-- js
|   |   |-- imageupload.js # Nag Messages 에서 이미지를 본문에 포함하기 위한 자바스크립트
|   |   |-- open_or_redirect_to_playstore.js # 앱이 있으면 실행하고 없으면 Play store로 이동시키기 위한 스크립트
|   |   |-- vendor # 외부 자바스크립트 라이브러리
|   |       |-- bootstrap
|   |       |-- dropzone
|   |       |-- housekeeping
|   |       |-- jquery
|   |       |-- modernizr
|   |       |-- pnotify
|   |       |-- yckart
|   |       |-- zeroclipboard
|   |-- robots.txt
|-- readme.md
|-- server.php
|-- vagrant-provision-script # Vagrant (Staging server) 셋업 스크립트
|-- vendor # 서비스 전반에 걸친 php/Laravel 외부 Dependency

</pre>

<h2 id="4"><a href="#4">유지보수 및 정책</a></h2>

<h3 id="4-1"><a href="#4-1">캐시 정책</a></h3>

<p>NagScreen의 웹 콘솔 및 API의 Persistence Repository (mySql DB) 에 대한 데이터 쿼리는 서비스의 성능 향상을 위해 모두 60분의 캐시 정책이 적용되어 있다. <code>Model (ex. User, Voc, ...)</code>에서 무언가를 읽을 때 매칭되는 키 또는 태그를 갖는 유효한 캐시가 있으면 캐시에서 데이터를 가져오고 DB 쿼리는 발생하지 않는다. 단, 캐시가 생성되고 난 후 해당 <code>Model</code>에 생성, 업데이트, 삭제 등의 이벤트가 발생하면 매칭되는 키 또는 태그를 갖는 캐시는 삭제되고, 다음 최초 쿼리에서 DB 쿼리가 발생하며 60분짜리 캐시가 다시 채워진다.</p>

<p><code>Model</code>에 대한 쿼리는 <code>Controller</code>에서 발생한다. <code>Model</code>에 대한 생성, 업데이트, 삭제 등의 이벤트가 발생하면 <code>Controller</code>가 <code>Event::fire('cache.clear', ['tags']);</code> 한다. <code>app/start/events.php (이벤트 핸들러)</code>에서 Fire된 이벤트를 수신하면, 키 또는 태그에 해당하는 캐시를 삭제한다.</p>

<pre class="prettyprint" lang="php">
# VocApiController
class VocApiController extends \ApiController
{
    public function index()
    {
        ...
        // 캐시에 있으면 캐시에서 읽고 없으면 DB에 쿼리한다.
        return $this->model->remember(60)->cacheTags('vocs')->paginate('5');
    }

    public function update()
    {
        ...
        // vocs 태그에 대한 cache.flush 이벤트 생성
        Event::fire('cache.flush', ['vocs']);
    }
}

# app/start/events.php
Event::listen('cache.flush', function ($tags) {
    ...
    // $tags에 해당하는 캐시를 삭제한다.
    Cache::tags($tags)->flush();
});
</pre>

<h3 id="4-2"><a href="#4-2">Full-text 검색</a></h3>

<p>NagScreen의 웹 콘솔에서는 Nag Messages, Voice of Customers, Push Messages, Api Documentation에 대해서 Full-text 검색을 지원한다. Full-text 검색은 상단 메뉴바의 검색어 입력상자에서 사용할 수 있다.</p>

<p>Full-text 검색의 대상이 되는 여러 <code>Model</code>들은 여러 DB 테이블을 이용하고 있는데, 한번의 쿼리로 여러 테이블의 레코드를 가져오기 위해 <code>History</code>란 모델/테이블을 별도로 운영한다. 검색의 대상이 되는 <code>Model</code>에 레코드의 생성, 업데이트, 삭제 등의 이벤트가 발생할 때, <code>History</code>에 동일한 레코드를 한번 더 추가하고, mySql의 Full-text 인덱스를 <code>History</code>모델에 걸어 놓는 방식으로 구현되었다.</p>

<blockquote>본 API Doc은 <code>History</code>모델을 사용하긴 하나, 다른 모델들과 달리 별도의 뷰로 검색 결과를 표시한다.</blockquote>

<p><code>History</code>모델은 사용자별 프로필, 서비스 전체에 대한 Activities 뷰에서도 사용된다.</p>

<pre class="prettyprint" lang="php">
# VocApiController
class VocApiController extends \ApiController
{
    public function store()
    {
        ...
        // history.track 이벤트 생성하면서, 이벤트 핸들러에게 $voc 모델을 넘겨준다.
        Event::fire('history.track', [$voc]);
    }
}

# app/start/events.php
Event::listen('history.track', function ($model) {
    $data = [...];
    $model->histories()->create($data);
});
</pre>

<h3 id="4-3"><a href="#4-3">이메일, 애널리틱 등의 구현</a></h3>

<p>이메일도 상기 캐시와 동일한 Observer Pattern으로 구현되었다. 이메일 발송이 필요한 <code>Controller</code> 액션에서 이벤트를 던지고, 이벤트 핸들러가 <code>airplug\Mailers\Mailer</code> 클래스의 메일 전송 메소드를 호출하는 식이다.</p>

<pre class="prettyprint" lang="php">
# app/start/events.php
Event::listen('feedback', function ($voc, $feedback) {
    ...
    // VoC에 새로 등록된 Feedback 내용을 VoC 작성자에게 메일로 보내기 
    $data = [...];
    App::make('airplug\Mailers\Mailer')->newFeedback($voc->email, $data);
});
</pre>

<p>애널리틱을 위해 구글 애널리틱을 사용하였으나, API 호출에 대한 추적도 해야 하므로 구글에서 기본 제공하는 공식 자바스크립트 라이브러리를 사용하지 않고, 오픈소스 php 네이티브 라이브러리를 가져와 NagScreen용으로 Wrapping하였다. 메소드는 <code>airplug\Trackers</code>에 위치하고 있으며, <code>trackPageView();</code> 메소드를 호출하는 부분은 <code>app/filters.php</code>에, <code>trackEvent();</code> 메소드를 호출하는 코드는 <code>app/start/events.php</code>에 위치해 있다.</p>

<pre class="prettyprint" lang="php">
# app/filters.php 페이지뷰 통계 기록
App::after(function ($request, $response) {
    Tracker::trackPageView('/'.Request::path(), Route::currentRouteName());
});

# app/start/events.php 이벤트 통계 기록
Event::listen('auth.signup', function ($user) {
    ...
    // 새로운 사용자 등록 이벤트 통계 기록
    Tracker::trackEvent('user', 'store');
});
</pre>

<p>이메일 발송은 상당히 오랜 시간이 걸리는 작업이므로 백그라운드에서 전송 작업을 수행하고, 사용자에게는 바로 응답을 제공하기 위해 Iron MQ를 사용하였다. 설정법에 대해서는 <a href="http://laravel.com/docs/queues">Laravel Documentation</a>을 참고한다.</p>

<pre class="prettyprint" lang="php">
# airplug\Mailers\Mailer
class Mailer 
{
    public function send($to, $subject, $view, $data=[], $cc=[])
    {
        // Queue 에 이메일 보내는 작업을 던진다.
        return \Mail::queue($view, $data, function ($message) use($to, $subject, $cc) {
            $message->to($to);
            if(! empty($cc)) $message->cc($cc);
            $message->subject($subject);
        });
    }

    public function newFeedback($to, $data)
    {
        return $this->send($to, $data['subject'], 'emails.feedback', $data);
    }
}
</pre>

<h2 id="5"><a href="#5">관리</a></h2>

<h3 id="5-1"><a href="#5-1">관리 항목</a></h3>

<p>Activities, Packages(Banner 포함), Categories, Users, Queue Workers, Analytics, Google Play Summary 등의 관리 UI를 제공한다.</p>

<h3 id="5-2"><a href="#5-2">Activities</a></h3>

<p>NagScreen에서 일어나는 대표적인 행동들을 추적한다. 추적 대상은 NagMessage, VoC, PushMessage, ApiDoc 등이다.</p>
<p><img src="/images/apidoc/admin-activities.png" class="img-responsive"/></p>

<h3 id="5-3"><a href="#5-3">Packages</a></h3>

<p>NagMessages, VoC, PushMessages 등에서 사용되는 Package 기준 정보를 설정하고, Package와 연결된 Banner를 생성하고 관리한다.</p>
<p><img src="/images/apidoc/admin-packages.png" class="img-responsive"/></p>

<h3 id="5-4"><a href="#5-4">Categories</a></h3>

<p>Category 기준 정보를 생성하고 관리한다.</p>
<p><img src="/images/apidoc/admin-categories.png" class="img-responsive"/></p>

<h3 id="5-5"><a href="#5-5">Users</a></h3>

<p>NagScreen 사용자들의 활동 지수 및 프로필을 보여 준다. 활동지수의 대상은 NagMessage/Comment, VoC/Feedback, PushMessage, ApiDoc 등이다.</p>
<p><img src="/images/apidoc/admin-users.png" class="img-responsive"/></p>

<h3 id="5-6"><a href="#5-6">Queue Workers</a></h3>

<p>NagScreen은 메일 전송을 위해 Iron MQ (iron.io)를 사용하다. Queue 상태를 감시하고 관리하기 위한 3rd Party UI를 표시한다.</p>
<p><img src="/images/apidoc/admin-queue.png" class="img-responsive"/></p>

<h3 id="5-7"><a href="#5-7">Analytics</a></h3>

<p>NagScreen은 구글 애널리틱의 페이지추적, 이벤트, 소셜행동등을 사용한다. </p>
<p><img src="/images/apidoc/admin-analytics.png" class="img-responsive"/></p>

<h3 id="5-8"><a href="#5-7">Google Play Summary</a></h3>

<p>Google Play Daily Update를 발송하기 위한 준비작업을 한다. </p>
<p><img src="/images/apidoc/admin-google-play.png" class="img-responsive"/></p>
