<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">기능 개요</a></li>
    <li><a href="#2">파일박스</a></li>
    <li><a href="#3">일회용 파일 업로드/다운로드 URL의 사용</a></li>
</ul>

<h2 id="1"><a href="#1">기능 개요</a></h2>

<p>파일박스 기능은 AirPlug와 외부 고객이 대용량 파일을 쉽게 교환할 목적으로 개발되었다. NagScreen은 기본적으로 B2C 앱 사용자만을 대상으로 한 서비스이긴 하나, 본 파일박스 서비스에 한해 B2B 고객과의 소통 목적으로 사용할 수도 있다.</p> 
<p>가령, 고객으로 부터 대용량의 apk/문서 파일을 받아야한다면, 해당 고객에게 일회용 파일 업로드 URL을 NagScreen 웹 콘솔 UI에서 생성하여, 이메일/메신저 등으로 전달하고, 고객은 전달받은 URL을 열어 전달하기를 원하는 파일을 업로드할 수 있다. 외부 고객으로 부터 파일이 업로드되면 해당 URL을 생성한 AirPlug 직원에게 파일이 업로드되었음을 알리는 메일이 자동으로 발송된다.</p>
<p>또는, 반대의 경우로, AirPlug에서 고객에게 전달해야 하는 대용량 파일이 있다면, NagScreen 웹 콘솔의 파일박스 UI를 열어 원하는 파일을 업로드 하고, 일회용 다운로드 URL을 생성하여 고객에게 전달할 수도 있다.</p>

<h2 id="2"><a href="#2">파일박스</a></h2>

<p>NagScreen 웹 콘솔의 파일박스 UI에서 파일을 업로드 하거나, 일회용 업로드 URL 또는 일회용 다운로드 URL을 생성할 수 있다.</p>

<h3 id="2-1"><a href="#2-1">파일 업로드</a></h3>

<p>UI 의 떨꿈 영역 (Drag and Drop)에 업로드할 파일을 올려 놓는다. 로그인 필수.</p>
<p><img src="/images/apidoc/filebox-upload.png" class="img-responsive"/></p>

<h3 id="2-2"><a href="#2-2">일회용 업로드 URL 생성</a></h3>

<p><button class="btn btn-primary btn-xs"><i class="fa fa-bolt"></i> GENERATE ONE-TIME URL FOR UPLOAD</button> 버튼을 클릭하여 일회용 업로드 URL을 생성하고, 생성된 URL을 클릭하여 클립보드에 복사하여, 업로드가 필요한 외부 고객에게 전달한다.</p>
<p><img src="/images/apidoc/filebox-upload-url.png" class="img-responsive"/></p>

<h3 id="2-3"><a href="#2-3">일회용 다운로드 URL 생성</a></h3>

<p>이미 업로드된 파일들의 목록에서 생성할 아이템 오른쪽에 위치한 <button class="btn btn-default btn-xs"><i class="fa fa-bolt"></i></button> 버튼을 클릭하여 생성된 <button class="btn btn-default btn-xs"><i class="fa fa-link"></i></button> 버튼을 클릭하여 생성된 일회용 다운로드 URL을 클립보드를 복사하여, 다운로드를 허용할 외부 고객에게 전달한다.</p>
<p><img src="/images/apidoc/filebox-download-url.png" class="img-responsive"/></p>

<blockquote>생성된 일회용 URL은 생성시간으로 부터 24시간 동안만 유효하다. 24시간이 지난 URL은 자동으로 지워지고, 더 이상 접근할 수 없게 된다. (일 1회 정기적으로 삭제 작업을 수행하므로, 경우에 따라 35시간 59분 59초까지도 일회용 URL이 살아 있을 수 있다.)</blockquote>

<h2 id="3"><a href="#3">일회용 파일 업로드/다운로드 URL의 사용</a></h2>

<p>일회용 파일 업로드 또는 다운로드 URL을 전달 받은 고객이 경험하게 되는 사용자 UI는 아래와 같다.</p>

<h3 id="3-1"><a href="#3-1">파일 업로드</a></h3>

<p>UI 의 떨꿈 영역 (Drag and Drop)에 업로드할 파일을 올려 놓는다. 기본적으로 내부 직원을 위한 파일 업로드와 사용법은 동일하다. 단, 2일동안만 사용 가능하며 로그인 불필요.</p>
<p><img src="/images/apidoc/filebox-onetime-upload.png" class="img-responsive"/></p>

<h3 id="3-2"><a href="#2-2">파일 다운로드</a></h3>

<p>AirPlug 내부 직원으로 부터 전달받은 일회용 다운로드 URL을 열면 다음과 같은 사용자 경험을 하게 된다. 2일 동안만 사용 가능하며 로그인 불필요.</p>
<p><img src="/images/apidoc/filebox-onetime-download.png" class="img-responsive"/></p>