<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">API 개요</a></li>
    <li><a href="#2">신규 Push 수신자 생성 API</a></li>
    <li><a href="#3">기존 Push 수신자 삭제 API</a></li>
</ul>

<h2 id="1"><a href="#1">API 개요</a></h2>

<p><a href="/push">Push Messages</a>는 앱에서 Api 호출을 통해 NagScreen에 등록한 Push 수신자들에게 푸시 방식의 메시지를 보낼 목적으로 개발되었다. 본 API를 통해서는 Push 수신자를 등록하고 삭제할 수 있다.</p>

<h2 id="2"><a href="#2">신규 Push 수신자 생성 API</a></h2>

<p>앱에 포함된 GCM Library를 통해 구글로 부터 얻은 162byte <code>registration_id</code> 와 기타 메타정보를 포함하여 신규 Push 수신자를 등록한다.</p>

<h3 id="2-1"><a href="#2-1">API endpoint</a></h3>

<p><code>POST /push/api</code></p>

<h3 id="2-2"><a href="#2-2">요청 파라미터</a></h3>

<dl>
    <dt>package</dt>
    <dd>API 호출하는 앱의 패키지 이름. 가용한 패키지는 <code><a href="/api/category">/api/package</a></code>에서 확인 가능하다.</dd>
    <dt>uuid</dt>
    <dd>Android ID</dd>
    <dt>registration_id</dt>
    <dd>GCM Library를 통해 구글로 부터 얻은 162byte 고유 식별자</dd>
 </dl>

<h3 id="2-3"><a href="#2-3">응답</a></h3>

<p>API 요청에 대해 JSON 형식의 리소스를 반환한다. 에러 메시지등의 공통 응답은 <a href="/api/1#4">NagScreen 소개 및 API 기본 - API 응답 기본</a> 절을 참조한다.</p>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
POST /push/api HTTP/1.1
Host: promote.airplug.com
Authorization: Basic Y29tLmFpcnBsdWcubWFvLmFnZW50OmNvbS5haXJwbHVnLm1hby5hZ2VudA==

_token=yv0oRVzuNMn44uv0Xr51Zjo9iM7nToK649FYQ3vF&amp;package=com.airplug.mao.agent&amp;uuid=f68d982e059a830d&amp;registration_id=APA91bG29Um9Yv3cjfQNcAVAjbi6hglLSv5dXy5x-lt3wlGiNL6cqGET99MXNwzM4Tb3IIVtV2x7nFg4MKoOcPPGZ25lElwNZzQ_vcaOmd9xFJ4CxUcmTvcdXjA5Avi-lHCIHgGsfj2m9v3yvyyDQbci4_fkjDcpQg


{
    "data": {
        "id": 13,
        "package": "com.airplug.mao.agent",
        "uuid": "f68d982e059a830d",
        "registration_id": "APA91bG29Um9Yv3cjfQNcAVAjbi6hglLSv5dXy5x-lt3wlGiNL6cqGET99MXNwzM4Tb3IIVtV2x7nFg4MKoOcPPGZ25lElwNZzQ_vcaOmd9xFJ4CxUcmTvcdXjA5Avi-lHCIHgGsfj2m9v3yvyyDQbci4_fkjDcpQg",
        "created_at": "2014-06-11 15:11:04",
        "updated_at": "2014-06-11 15:11:04"
    }
}
</pre>

<h2 id="3"><a href="#3">기존 Push 수신자 삭제 API</a></h2>

<p>요청한 {registration_id}에 해당하는 Push 수신자를 삭제한다.</p>

<h3 id="3-1"><a href="#3-1">API endpoint</a></h3>

<p><code>POST /push/api/{registration_id}</code></p>

<h3 id="3-2"><a href="#3-2">요청 파라미터</a></h3>

<p><code>_method=delete</code> 파라미터를 반드시 포함해야 한다. 자세한 내용은 <a href="/api/1#3">NagScreen 소개 및 API 기본 - API 요청 기본</a> 를 참고한다.</p>

<dl>
    <dt>_method</dt>
    <dd>delete</dd>
</dl>

<h3 id="3-3"><a href="#3-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
POST /voc/api/13 HTTP/1.1
Host: promote.airplug.com
Authorization: Basic Y29tLmFpcnBsdWcubWFvLmFnZW50OmNvbS5haXJwbHVnLm1hby5hZ2VudA==

_token=yv0oRVzuNMn44uv0Xr51Zjo9iM7nToK649FYQ3vF&amp;_method=delete

{
    "data": true
}
</pre>