<h2><a>목차</a></h2>

<ul>
    <li><a href="#1">API 개요</a></li>
    <li><a href="#2">Google Play Redirect API</a></li>
    <li><a href="#3">SNS Share Link API</a></li>
</ul>

<h2 id="1"><a href="#1">API 개요</a></h2>

<p>Utility API는 앱 개발자가 우리 앱 프로모션을 위해 편리하게 사용할 수 있는 기능들을 제공하기 위해 개발되었다.</p>

<h2 id="2"><a href="#2">Google Play Redirect API</a></h2>

<p>링크를 호출하는 디바이스에 따라 모바일 플레이스토어 앱 또는 PC용 플레이스토어 페이지로 리다이렉트해 준다.</p>

<h3 id="2-1"><a href="#2-1">API endpoint</a></h3>

<p><code>GET /util/recommend/{package}</code></p>

<h3 id="2-2"><a href="#2-2">요청 파라미터</a></h3>

<p>없음</p>

<h3 id="2-3"><a href="#2-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 http 응답이다.</p>

<pre class="prettyprint" lang="html">
# 요청
GET /util/recommend/com.airplug.videoplug HTTP/1.1
Host: promote.airplug.com

# 응답
HTTP/1.1 302 Found
Location: market://details?id=com.airplug.videoplug
</pre>

<h2 id="3"><a href="#3">SNS Share Link API</a></h2>

<p>쿼리 파라미터로 넘긴 링크 및 이미지 요소를 SNS에 공유하기 위한 링크로 바꾸어 제공한다.</p>

<h3 id="3-1"><a href="#3-1">API endpoint</a></h3>

<p><code>GET /util/share</code></p>

<h3 id="3-2"><a href="#3-2">요청 파라미터</a></h3>

<dl>
    <dt>link</dt>
    <dd>SNS로 공유하고자 하는 URL</dd>
    <dt>text (optional)</dt>
    <dd>링크의 제목 문자열</dd>
    <dt>media (optional)</dt>
    <dd>SNS로 공유하고자 하는 미디어 URL</dd>
 </dl>

<h3 id="3-3"><a href="#3-3">응답</a></h3>

<p>아래는 요청이 성공한 경우에 반환 받은 JSON 객체이다.</p>

<pre class="prettyprint" lang="js">
GET /util/share?link=http://www.airplug.com&amp;title=AirPlug Inc. HTTP/1.1
Host: promote.airplug.com

{
    "data": {
        "delicious": "https://delicious.com/post?url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "digg": "http://www.digg.com/submit?url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "evernote": "http://www.evernote.com/clip.action?url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "facebook": "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "gmail": "https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to&amp;ui=2&amp;tf=1&amp;su=http%3A%2F%2Fwww.airplug.com&amp;body=NagScreen",
        "gplus": "https://plus.google.com/share?url=http%3A%2F%2Fwww.airplug.com",
        "linkedin": "http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "pinterest": "http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.airplug.com&amp;description=NagScreen",
        "reddit": "http://www.reddit.com/submit?url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "scoopit": "http://www.scoop.it/oexchange/share?url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "springpad": "https://springpadit.com/s?type=lifemanagr.Bookmark&amp;url=http%3A%2F%2Fwww.airplug.com&amp;name=NagScreen",
        "tumblr": "http://www.tumblr.com/share?v=3&amp;u=http%3A%2F%2Fwww.airplug.com&amp;t=NagScreen",
        "twitter": "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.airplug.com&amp;text=NagScreen",
        "viadeo": "http://www.viadeo.com/?url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen",
        "vk": "http://vk.com/share.php?url=http%3A%2F%2Fwww.airplug.com&amp;title=NagScreen&amp;noparse=false"
    }
}
</pre>