body{
	overflow-x:hidden;
	padding: 0;
}
body::-webkit-scrollbar{
	display: none;
}
section>div {
    margin-bottom: 1em;
}
div.log-let {
    margin: 2em auto;
}
div.description-let {
    margin: 2em auto;
}